body{ 
    background-color:white;
    }
    .container{
      border: 1px border solid black;
      border-radius:10px;
      background-color:black;
      color:white;
      width:350px;
      height:750px;
      margin-top:90px;
      margin:auto;
    }
    .form-item{
      display:flex;
      flex-direction: column;
      margin:10px 20px;
      
    }
    .form-item label{
      margin-bottom: 3px;
    }
    .form-item input{
      background-color: black;
      color:white;
      border: black;
      
    }
    .header{
      margin:20px;
      margin-top :10px;
      text-align: center;
      padding: 10px;
      border-radius: 10px;
    }
    .submit-btn{
      margin: 10px 20px;
      text-decoration:none;
      padding: 10px;
      border-radius: 50px;
    }
    .submit-btn:hover{
      background-color: maroon;
      color: white;
    }
    
    .btn-block {
          margin-top: 10px;
          text-align: center;
        }
    
    